.secondary-navigation {
  margin-bottom: 0;
}

@media (min-width: 1200px){
  .secondary-navigation {
    display: block;
  }
}

@media (min-width: 768px){
  .secondary-navigation ul.menu, .secondary-navigation ul.nav-menu {
    max-height: none;
    overflow: visible;
    text-align: right;
    margin-right: 0px;
  }
  .secondary-navigation .menu {
    width: auto;
    margin-top: 15px;
  }
  .secondary-navigation ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    display: block;
  }
  .secondary-navigation ul li {
    position: relative;
    display: inline-block;
    text-align: left;
  }
  .secondary-navigation {
    margin: 0 0 1.618em;
    clear: none;
    float: right;
    position: relative;
    bottom: 40px;
    border-top: 1px solid rgba(255, 255, 255, 0.17);
    width:75%;
  }
  .secondary-navigation ul.menu > li > a, .secondary-navigation ul.nav-menu > li > a {
    padding: 2em 0;
    color: #ffc0ca;
    font-size: 1em;
    line-height: 2.813em;
  }
  .secondary-navigation ul.menu > li > a i, .secondary-navigation ul.nav-menu > li > a i {
    font-size: 2.813em;
    display: inline-block;
    float: left;
    margin-right: 0.2em;
    margin-left: 0.7em;
  }
  .secondary-navigation .menu > li:hover > a {
    text-decoration: none;
  }
  .secondary-navigation ul.menu > li > a:hover, .secondary-navigation ul.menu > li > a:focus, .secondary-navigation ul.nav-menu > li > a:hover, .secondary-navigation ul.nav-menu > li > a:focus {
    color: #fff;
    text-shadow: 0 0 0.65px #fff, 0 0 0.65px #fff;
  }
}